html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mapaid {
  width: 99vw;
  height: 90vh;
}

.ol-control {
  display: none;
}

ul {
  list-style-type: none;
  margin: 15px 0px 0px 4px;
}

li {
  display: inline;
  width: 30%;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin: 0px 5px;
  border-radius: 3px;
  cursor: pointer;
}

input {
  width: 80%;
  padding: 7px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #555;
  border-radius: 4px;
  box-sizing: border-box;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #ccc;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
